.active-room {
    background-color: #28a745;
}

.inactive-room {
    background-color: #dc3545;
}

.dirty-room {
    background-color: grey;
}

.slider {
    width: 50%;
}

.slider-container {
    margin-bottom: 16px;
}

.grid-config {
    height: 120px;
    font-size: 14px;
    line-height: 120px;
    background: #0092ff;
    border-radius: 4px;
}

.gutter-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.occupied {
    border: 1px solid red;
    /* or any style for occupied rooms */
}

.available {
    border: 1px solid green;
    /* or any style for available rooms */
}