<!-- sidebar.component.html -->
<nav id="sidebar" class="bg-light pt-5">
    <div class="sidebar-header">
        <h3>My Sidebar</h3>
    </div>
    <!-- Sidebar Toggle Button -->
    <!-- <button class="btn btn-dark d-md-none" (click)="toggleSidebar()">
        Toggle Sidebar
    </button> -->

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i>Main dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chart-area fa-fw me-3"></i>Website traffic
            </a>
        </li>
        <!-- Thêm các mục menu khác -->
    </ul>
</nav>