<!-- sidebar.component.html -->
<!-- <nav id="sidebar" class="bg-light pt-5">
    <div class="sidebar-header">
        <h3>My Sidebar</h3>
    </div>

    <ul class="list-unstyled">
        <li class="active">
            <a href="#">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i>Main dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chart-area fa-fw me-3"></i>Website traffic
            </a>
        </li>
    </ul>
    
</nav> -->

    <button nz-button nzType="primary"  (click)="toggleCollapsed()">
       <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
     </button>
     <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
       <li
         nz-menu-item
         nz-tooltip
         nzTooltipPlacement="right"
         [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
         nzSelected
       >
         <span nz-icon nzType="mail"></span>
         <span>Navigation One</span>
       </li>
       <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
         <ul>
           <li nz-menu-item>Option 5</li>
           <li nz-menu-item>Option 6</li>
           <li nz-submenu nzTitle="Submenu">
             <ul>
               <li nz-menu-item>Option 7</li>
               <li nz-menu-item>Option 8</li>
             </ul>
           </li>
         </ul>
       </li>
       <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
         <ul>
           <li nz-menu-item>Option 9</li>
           <li nz-menu-item>Option 10</li>
           <li nz-menu-item>Option 11</li>
         </ul>
       </li>
     </ul>

