<div class="container-fluid">
    <div class="row landing">
        <div class="col-md-12 text-center cent">
            <h3>Yến sào Thanh Bình</h3>
            <button class="btn btn-own">đặt ngay</button>
        </div>
    </div>
    <app-product-list>
    </app-product-list>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://via.placeholder.com/150" class="rounded-circle mx-auto d-block">
                            <h4 class="text-center mt-3">Nguyễn Văn A</h4>
                            <p class="text-center">"Sản phẩm chất lượng, đúng với giá tiền."</p>
                        </div>
                        <div class="col-md-3">
                            <img src="https://via.placeholder.com/150" class="rounded-circle mx-auto d-block">
                            <h4 class="text-center mt-3">Nguyễn Văn B</h4>
                            <p class="text-center">"Yến sạch tốt, ngon miệng, sức khỏe của tôi đã cải thiện sau khi sử
                                dụng."</p>
                        </div>
                        <div class="col-md-3">
                            <img src="https://via.placeholder.com/150" class="rounded-circle mx-auto d-block">
                            <h4 class="text-center mt-3">Nguyễn Văn C</h4>
                            <p class="text-center">"Đội ngũ nhân viên nhiệt tình, tư vấn rất tốt."</p>
                        </div>
                        <div class="col-md-3">
                            <img src="https://via.placeholder.com/150" class="rounded-circle mx-auto d-block">
                            <h4 class="text-center mt-3">Nguyễn Văn D</h4>
                            <p class="text-center">"Chất lượng sản phẩm và dịch vụ đều rất tốt."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>