<!-- 
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <table class="table" *ngIf="roomHistory && roomHistory.length > 0">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>Check-in Time</th>
            <th>Check-out Time</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>101</td>
            <td>Paid</td>
            <td>2024-01-15 12:00:00</td>
            <td>2024-01-16 10:00:00</td>
            <td>$120</td>
          </tr>
          <tr>
            <td>102</td>
            <td>Paid</td>
            <td>2024-01-16 14:00:00</td>
            <td>2024-01-18 11:30:00</td>
            <td>$180</td>
          </tr>
          <tr>
            <td>103</td>
            <td>Unpaid</td>
            <td>2024-01-20 09:30:00</td>
            <td>(Not checked out yet)</td>
            <td>(Not determined)</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
            <td>Sum:$300</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<app-modal></app-modal>



<table class="table" *ngIf="!roomHistory">
  <thead>
    <tr>
      <th>Room Number</th>
      <th>Status</th>
      <th>Check-in Time</th>
      <th>Check-out Time</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table> -->

<app-table>
  
</app-table>