<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12 sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <div class="p-4">
                <h2>Hotel Rooms</h2>
                <!-- <div class="row"> -->
                    <!-- Room Boxes -->
                    <app-room></app-room>
                    <!-- <div class="col-md-3 col-sm-6">
                        <div class="room-box active-room">Room 101</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box inactive-room">Room 102</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box active-room">Room 103</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box inactive-room">Room 104</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box active-room">Room 101</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box inactive-room">Room 102</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box active-room">Room 103</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box inactive-room">Room 104</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box active-room">Room 101</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box inactive-room">Room 102</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box active-room">Room 103</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box inactive-room">Room 104</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box dirty-room">Room 101</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box inactive-room">Room 102</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box active-room">Room 103</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="room-box dirty-room">Room 104</div>
                    </div> -->
                    <!-- Add more room boxes as needed -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
