<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Hotel" nzIcon="table">
        <ul>
          <li nz-menu-item routerLink="/admin/room">Room</li>
          <li nz-menu-item routerLink="/admin/history">Staff</li>
          <li nz-menu-item routerLink="/admin/bill">Bill</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="/option1">
        <span nz-icon nzType="pie-chart"></span>
        <span>Option 1</span>
      </li>
      <li nz-menu-item routerLink="/option2">
        <span nz-icon nzType="desktop"></span>
        <span>Option 2</span>
      </li>
      
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="/file">
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-breadcrumb>
      <nz-breadcrumb-item>User</nz-breadcrumb-item>
      <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
  
  <!-- <app-room (showModal)="toggleModal(showModal)"></app-room> -->

